img {
  display: block;
}

.images {
  padding: 20px;
}

@media screen and (min-width: $vw-huge) {
  .images {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;

  }

  img{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  }

  img:nth-child(1) {
    grid-column: 2 / 7;
    grid-row: 2 / span 3;
    z-index:3;
  }
  img:nth-child(2) {
    grid-column: 6 / 10;
    grid-row: 3 / span 2;
    z-index:2;
  }
  img:nth-child(3) {
    grid-column: 1/ -1;
    grid-row: 1 / -1;

  }


}